<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Scripts and styles here -->
</head>
<body class="container">

  <header>
    <h1>Vocabulary Trainer 2.0</h1>
  </header>

  <section id="content"><%- content %></section>

  <footer>
    <p>&copy; kameli-2</p>
  </footer>

  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>
</html>
